body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
}

code {
  font-family: Consolas, 'Courier New', monospace;
}

html, body, #root {
  height: 100%;
}

.ellipse-dot-2 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
